body {
    /*width:70%;*/
    background-color: #5A2837;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
}

header {
    background-color: #3D1420;
    color: #FFFFFF;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    /*height:100px; */
    border-bottom: solid medium #3D1420;
}

section {

    background-color: #FFFFFF;
    color: #000000;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    border: solid thin #999999
}

footer {
    background-color: #277980;
    padding: 10px;
    border-top: 5px solid #3D1420;
    margin-top: 20px;
    background-color: #3D1420;
    color: #ffff;
}



nav li {
    display: inline;
    list-style-type: none;
    margin: 0 2px 0 2px;
}

nav a {
    color: #ffff;
    background-color: black;
    padding: 4px 8px 4px 8px;
    border: 1px solid #0c0101;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #FFFFFF;
    padding-bottom: 5px;
    border-bottom: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav li {
    padding: 15px;
}

section li {
    text-align: left;
    width: 40%;
    margin-left: 20%;
}

section table {
    text-align: center;
    width: 40%;
    margin-left: 20%;
    margin-left: auto;
    margin-right: auto;
}

em {
    color: green;
}

strong {
    color: red;
}

table,
tr,
td,
th {
    border: 1px solid white;
    border-radius: 12px;
}